# Dependency directories
node_modules/

# Build directory
dist/

# Assets image uploads directory
assets/image-uploads

# Log directory
logs/

# Env
env/

# Snapshots
snapshots/

# Logs
logs/

# Ansible
ansible/
