html,
body {
    height: 100%;
}

html {
    overflow: hidden;
}

body {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

@media (min-width: 800px) {
    .background {
        text-align: center;
        background: url(https://www.yokubo.org/api/v1/assets/bg.jpg) center/cover fixed;
        flex-grow: 1;
    }
}

@media (max-width: 799px) {
    .background {
        text-align: center;
        background: url(https://www.yokubo.org/api/v1/assets/bg-small.jpg) center/cover fixed;
        flex-grow: 1;
    }
}

@media (min-width: 750px) {
    .card {
        background-color: white;
        border-radius: 10px;
        padding-bottom: 25px;
        margin: auto;
        width: 50%;
        padding: 20px;
    }
}

@media (max-width: 749px) {
    .card {
        background-color: white;
        border-radius: 10px;
        padding-bottom: 25px;
        padding: 20px;
    }
}

.brand {
    color: white;
    margin: 42px;
    font-size: 72px;
}

.successText {
    color: #333333;
    font-size: 26px;
}